<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body>
    Details page

    <div>
      <tr>
        <td>{{businesscard.name}}</td>
        <td>{{businesscard.title}}</td>
        <td>{{businesscard.email}}</td>
        <td>{{businesscard.about}}</td>
        <td>{{businesscard.interests}}</td>
      </tr>
    </div>
  </body>
</html>